aside{
    background-color: var(--p-primary-700);
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 16px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
hr{
    margin: 0;
    position: relative;
    left: 16px;
    width: calc(100% - 32px);
    border: none;
    border-top: solid 1px var(--p-primary-400);
}

svg{
    color: var(--p-primary-100);
}