@import url(primeicons/primeicons.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

.h-fill{
    height: -webkit-fill-available;
}


/* Estilos de primeng alterados */
.p-component.p-inputtext{
    width: 100%;
    min-width: 250px;
}

.p-password.p-inputwrapper, .p-password.p-inputwrapper > input {
    width: 100%;
    min-width: 250px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: var(--p-primary-900); 
    border-radius: 10px;
}

/*

--p-primary-50: var(--p-emerald-50);
--p-primary-100: var(--p-emerald-100);
--p-primary-200: var(--p-emerald-200);
--p-primary-300: var(--p-emerald-300);
--p-primary-400: var(--p-emerald-400);
--p-primary-500: var(--p-emerald-500);
--p-primary-600: var(--p-emerald-600);
--p-primary-700: var(--p-emerald-700);
--p-primary-800: var(--p-emerald-800);
--p-primary-900: var(--p-emerald-900);
--p-primary-950: var(--p-emerald-950);

*/